.git
.gitignore
.venv
venv
.data
data
**/__pycache__
**/*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.uv-cache
tests
design
*.log
*.sqlite3
.env
.env.*
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore
